[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
requests = "*"
sortedcontainers = "*"
quart = "*"
marshmallow = "*"

[dev-packages]
rope = "*"
pylint = "*"

[requires]
python_version = "3.7"
